/*                    @aronnoordam @brunozc
/.github/             @aronnoordam @brunozc
/docs/                @aronnoordam @brunozc
/random_fields/       @aronnoordam @brunozc
/tests/               @aronnoordam @brunozc