numpy==2.0.2
matplotlib==3.9.3
scipy==1.13.1
gstools==1.6.0
scikit-learn==1.6.0
mypy==1.13.0
pytest==8.3.4
pytest-cov==6.0.0
yapf==0.43.0
tox==4.23.2
flake8==7.0.0
pre-commit==3.6.2
d-geolib-plus==0.4.1
